#home {
    width: 100%;
    height: 92vh;
    background: linear-gradient(to left, #a855f7, #8e65fc, #7371fd, #577bfb, #3b82f6);
    /* background: linear-gradient(to left, #6b21a8, #5b2a8f, #4e337d, #3f3b69, #312f52); */

    margin-top: 8.5rem;
    scroll-margin-top: 8.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container>h1 {
    color: white;
    font-size: 6rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
}

.info-container>p {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.info-container>button {
    height: 4rem;
    border-radius: 8px;
    border: none;
    padding: 0 3.5rem;
    font-size: 1.5rem;
    background-color: white;
   transition: all 0.4s;
}
.info-container > button:hover{
    background-color: white;
    transform: translateY(-0.5rem);
    cursor: pointer;
}
.info-container>button>a {
    text-decoration: none;
    color: black;
}
.info-container > button:hover a{
    color: #555555;
}

